<br><br>

<p id="notice"><%= notice %></p>

<!-- ***** Main logic Start ***** -->
<h1>Craft Store</h1> <br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @craft_stores.each do |craft_store| %>
      <tr>
        <td><%= craft_store.name %></td>
        <td><%= craft_store.description %></td>
        <td><%= craft_store.price %></td>
        <td><%= link_to 'Show', craft_store %></td>
        <td><%= link_to 'Edit', edit_craft_store_path(craft_store) %></td>
        <td><%= link_to 'Destroy', craft_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Craft Store', new_craft_store_path %>
<!-- ***** Main logic End ***** -->
