 <!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Hexashop</h4>
                            <span>Bring home, awesome Indain traditional crafts</span>
                            <div class="main-border-button">
                                <%= link_to "Purchase Now!", gallery_index_path %>
                            </div>
                        </div>
                        <%= image_tag "left-banner-image.jpg"%>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Metal Crafts</h4>
                                        <span>Best Metal Crafts</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Metal Craft</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                <%= link_to "Discover More", gallery_index_path %>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "baner-right-image-01.jpg", class:"size"%>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Wood Craft</h4>
                                        <span>Best Wood crafts</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Wood Craft</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                                                <%= link_to "Discover More", gallery_index_path %>

                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "baner-right-image-02.jpg" , class:"size"%>
                                    <%# <img src="assets/images/baner-right-image-02.jpg"> %>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Pottery</h4>
                                        <span>Best Pottery</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Pottery</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                             <%= link_to "Discover More", gallery_index_path %>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "baner-right-image-03.jpg" , class:"size"%>
                                    <%# <img src="assets/images/baner-right-image-03.jpg"> %>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                             <%= link_to "Discover More", gallery_index_path %>
                                            </div>
                                        </div>
                                    </div>
                                    <%# <img src="assets/images/baner-right-image-04.jpg"> %>
                                    <%= image_tag "baner-right-image-04.jpg" , class:"size"%>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <div class="main-border-button">
                        <%# <a href="products.html">Discover More</a> %>
                        <%= link_to "Discover More", gallery_index_path %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Iron dolls</h4>
                                <span>Latest Collection</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <%= image_tag "explore-image-01.jpg" %>
                                <%# <img src="assets/images/explore-image-01.jpg" alt=""> %>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <%= image_tag "explore-image-02.jpg" %>
                                <%# <img src="assets/images/explore-image-02.jpg" alt=""> %>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Types</h4>
                                <span>Over 304 Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
